HOST=127.0.0.1
PORT=4173
QVAC_TEXT_MODEL=LLAMA_3_2_1B_INST_Q4_0
QVAC_VISION_MODEL=VISIONPSY_NANO_460M_MULTIMODAL_Q4_K_M
QVAC_VISION_MMPROJ=MMPROJ_VISIONPSY_NANO_460M_MULTIMODAL_Q8_0
QVAC_OCR_MODEL=OCR_LATIN
QVAC_LOAD_DOCUMENT_MODELS=false
MAX_DOCUMENT_SIZE_BYTES=10485760
